using {{Namespace}}.Domain;

namespace {{Namespace}}.Application;

// Nothing to add: everything comes from the generic interface. Add members here only for special features.
public interface I{{Entity}}Repository : IGenericRepository<{{Entity}}>
{
}
